@import "~@storefront-ui/vue/styles";

.form {
  &__row {
    display: flex;
    margin: 0 -15px;

    &::v-deep > .sf-input {
      flex: 1;
      padding: 30px 15px;
    }
  }
}

.info-text {
  font-size: 16px;
}

.submit-button {
  margin-top: 60px;
}
